*.pyc
*.o
*.obj
*.so
*~
# eclipse ignore
.project
.settings
.pydevproject
.cproject
gdal/swig/setup.ini
gdal/nmake_x86.opt
gdal/nmake_x64.opt
gdal/gdaltest.cpp
gdal/nmake.opt
gdal/nmake_me.opt
gdal/test.cpp
