*.pyc
*.o
*.obj
*.so
*~
*.swp

.vagrant

# IDE ignore
.project
.settings
.pydevproject
.cproject
.idea
.vscode
.vs

# Python
__pycache__/
.env*/
.venv*/
gdal/nmake_ori.opt
gdal/nmake_x64.opt
gdal/nmake_x86.opt
gdal/test.cpp
gdal/gdaltest.cpp
/gdal/proj
gdal/nmake-my.opt
