*.pyc
*.o
*.obj
*.so
*~

.vagrant

# IDE ignore
.project
.settings
.pydevproject
.cproject
.idea
.vscode
gdal/nmake_ori.opt
gdal/nmake_x64.opt
gdal/nmake_x86.opt
gdal/test.cpp
gdal/gdaltest.cpp
/gdal/proj
